
<div class="container">
       <!-- Page Content goes here -->
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Sign In with Rmail</h4>

        <div class="row">

        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <label id="modal-message"></label>
                </div>
            </div>
        </div>
        <br><br><br>


        <form class="col s12" action="/signin" method="POST" id="modal-form">

          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="email">
              <label for="email">Email</label>
            </div>
          </div>

          <a class="btn waves-effect waves-light animated lightSpeedIn" id="modal-submit">Submit
              <i class="material-icons right">send</i>
          </a>

        </form>
      </div>
  </div>
</div>
